[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.27.5"
streamlit = "==1.22.0"
streamlit-chat = {ref = "main", git = "https://github.com/harley/st-chat"}
streamlit-oauth = "*"
python-dotenv = "*"
watchdog = "*"
google-cloud-firestore = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
