[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "==0.27.5"
streamlit = "==1.22.0"
python-dotenv = "*"
watchdog = "*"
google-cloud-firestore = "*"
firebase-admin = "*"
streamlit-oauth = "*"
promptlayer = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.11"
